
@{
    ViewData["Title"] = "Med Service";
}
<html>
    <head>
        <style>
        html {
            position: relative;
            min-height: 100%;
            font-size: 16px;
        }

            @@media (min-width: 768px) {
                html {
                    font-size: 16px;
                }
            }

            .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
                box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
            }         

            body {
                background: url('MedService.jpg') no-repeat center center;
                margin-bottom: 60px;
                background-size: cover;
                background-position: center;
                min-height: 100vh;  
            }

            .buttons-container {
                padding-top: 174px;
            }

        .btn-primary, .btn-secondary {
            background-color: #548D9B; 
            color: white; 
            border: none;
            border-radius: 5px;
            padding: 10px 20px; 
            font-weight: bold; 
            transition: background-color 0.3s ease; 
        }

            .btn-primary:hover, .btn-secondary:hover {
                background-color: #CEDFCC;
                color: white; 
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
                color: #548D9B;
            }


        </style>
    </head>
    <body>
    <div class="text-center background-image">

        <div class="text-center background-image buttons-container">
            <a class="btn btn-secondary" href="@Url.Action("Index", "Specializations")">View specializations</a>
            <a class="btn btn-secondary" href="@Url.Action("Index", "Doctors")">View doctors</a>
            <a class="btn btn-primary" href="@Url.Action("Index", "Availabilities")">View availability</a>
            <a class="btn btn-primary" href="@Url.Action("Map", "Patients")">View availability</a>

        </div>
    </div>
    </body>
</html>
