@model MedService.Models.Specialization

@{
    ViewData["Title"] = "Edit";
}

<style>
    html {
        position: relative;
        min-height: 100%;
        font-size: 16px;
    }

    body {
        background: url('../../MedService (1).jpg') no-repeat center center;
        margin-bottom: 60px;
        background-size: cover; 
        min-height: 100vh;
    }

    .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    }

    .btn-primary, .btn-secondary {
        background-color: #548D9B;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

        .btn-primary:hover, .btn-secondary:hover {
            background-color: #CEDFCC;
            color: #548D9B;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

    .form-group {
        background-color: rgba(255, 255, 255, 0.8); 
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
    }

    .text-danger {
        font-weight: bold;
    }
</style>

<h1>Edit</h1>

<h4>Specialization</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SpecializationId" />
            <div class="form-group">
                <label asp-for="SpecializationName" class="control-label"></label>
                <input asp-for="SpecializationName" class="form-control" />
                <span asp-validation-for="SpecializationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
